.container {
  width: 100%;
  height: auto;
  z-index: 1038;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #323232;
};

.playerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
};


