.container {
  width: 100%;
  height: auto;
  z-index: 1038;
  position: fixed;
  bottom: 0;
  background-color: #323232;
};

.playerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
};

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
};






