.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin:auto;
    width: auto;
    height: 40px;
}
.icons {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}